go 1.20

use (
	.
	./Chapter02
	./Chapter03/Tugas/1214053_raulmahya/backend
	./Chapter03/Tugas/1214056_RachmaNurhaliza/backend
	./Chapter03/Tugas/1214057_maylindachristy/backend
	./Chapter03/Tugas/1214058_firda/backend
	./Chapter03/Tugas/1214062_dzikri/backend
	./Chapter03/Tugas/1214063_shinta/backend
	./Chapter03/Tugas/1214064_AdamGhafara/backend
	./Chapter03/Tugas/1214066_MegahJuliardi/backend
	./Chapter03/Tugas/1214073_salmanAkbar/Backend
	./Chapter03/Tugas/1214074_adrianbhp/backend
	./Chapter03/Tugas/1214078_maulanaimanulhaq/backend
	./Chapter03/Tugas/1214079_AuliaMaharani/backend
	./Chapter03/Tugas/1214081_Ibrohim/backend
	./Chapter03/Tugas/1214085_fitrah/backend
	./Chapter04
	./Chapter04/tugas/1214081_Ibrohim/deployheroku
	./Chapter06
	./Chapter08/TugasChapter08/1214053_RaulMahya
	./Chapter08/TugasChapter08/1214064_AdamGhafara
	./Chapter08/TugasChapter08/1214066_MegahJuliardi
	./Chapter09/Helloworld
	./ChapterQUIS/1214053-_Raul_QUIZ/backend
	./ChapterQUIS/1214056_RachmaNurhaliza/backend
	./ChapterQUIS/1214057_Maylinda_QUIS/backend
	./ChapterQUIS/1214062_Dzikri_Quis/Backend
	./ChapterQUIS/1214063_shinta_quiz/backend
	./ChapterQUIS/1214064_AdamGhafara_Quis/golang
	./ChapterQUIS/1214066_MegahJuliardi_Quis
	./ChapterQUIS/1214073_salmanakbar_quis/BackEnd
	./ChapterQUIS/1214074_adrianbhp_QUIS/backend
	./ChapterQUIS/1214078_Maulana_QUIS/backend
	./ChapterQUIS/1214079_AuliaMaharani_QUIS/backend
	./ChapterQUIS/1214081_Ibrohim_QUIS/SourceCode/public/golang
	./ChapterQUIS/1214085_Fitrah_Quiz/Backend
	./TugasBesar/ProjectGoTech-main
	./TugasBesar/TB-DzikridanIbrohim/TB-New
	./TugasBesar/TB-Megah/crud
	./TugasBesar/TB-Raul-Dan-maul/Chapter0
	./TugasBesar/TB-Raul-Dan-maul/golangvue
	./TugasBesar/go-crud
	./chapter-d3
)
